<html>
    <head>
        <title>Confirm Payment</title>
    </head>
    <body>
      
<form action="confirmPayment" method="POST">
    <input type="text" name="buyer" placeholder="account address of buyer"/>
    <input type="text" name="amt" placeholder="amount in wei"/>
    <input type="submit" value="Confirm Payment"/>
  </form>
    </body>
</html>

